.input-container {
  margin: -20px -20px;
  /* border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1); */
}

.table-container-form {
  margin: 20px 0px;
}