# Environment variables
.env.local

# Files inside folder, ...
files/*
# ... except this one, for download tests
!files/de741848-5e90-4c5e-8699-78aca9b37aba

dumps/*
!dumps/.gitkeep
logs/*
!logs/.gitkeep

# dependencies
/node_modules
package-lock.json

request.Rest