.table-container {
  overflow-x: scroll;
  width: 100%;
  border: 1px solid #c7c7c7;
  padding: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

.content-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.content-table thead th {
  background-color: #E4E7EA;
  color: #5C6873;
  font-weight: bold;
}

.content-table thead {
  border-bottom: 2px solid #cecece;
}

.content-table th,
.content-table td {
  padding: 6px 0;
}

.content-table tbody td {
  border-bottom: 1px solid #d4d4d4;
}

.content-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.checkbox-cell {
  width: 47px;
}