.table-container {
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  /* border: 1px solid #c7c7c7; */
  padding: 0;
  border-radius: 6px;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.content-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.content-table thead th {
  background-color: rgb(20, 54, 94);
  color: white;
  font-weight: 700;
  height: 50px;
  font-size: 14px;
}

.content-table thead {
  border-bottom: 2px solid #cecece;
}

.content-table th,
.content-table td {
  padding: 6px 0;
}

.content-table tbody tr {
  border-bottom: 1px solid #d4d4d4;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.content-table tbody tr:last-of-type {
  border-bottom: none;
}

.content-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.checkbox-cell {
  width: 47px;
}

.no-items-table {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.no-items-description {
  font-size: 16px;
}