// Page changer

.table-page-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-page-label {
  margin-right: 10px;
}

.table-page-input {
  border-radius: 3px;
  border: 1px solid #b1b1b1;
  text-align: center;
  padding: 2px 0;
  width: 40px;
}

// Pagination

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

