.message__container{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 4px 4px 0 0;
    padding: 12px;
}

.message__author {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.message__author div{
    display: flex;
    align-items: center;
}

.message__icon {
    background-color: rgb(20, 54, 94);
    border: 3px solid rgb(20, 54, 94);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.message__name{
    font-weight: bold;
    padding-left: 8px;
}

.message__text{
    border-top: 1px solid rgba(232, 232, 232, 1);
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    margin: 12px 0;
    padding: 8px 0;
    text-align: justify;
}

.comment__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(232, 232, 232, 1);
    border-radius: 0 0 4px 4px;
}

.comment__button {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 0;
    background-color: transparent;
    border: none;
}

.comment__button:focus{
    outline: none;
}

.comment__icon{
    color: rgba(100, 100, 100, 1);
}

.comment__action{
    padding-left: 8px;
    font-weight: bold;
    font-size: medium;
    color: rgba(100, 100, 100, 1);
}

.comment__text__area{
    align-self: stretch;
    padding: 8px;
}