.history__date {
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.history__date span {
    font-weight: normal;
}

.history__items {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.history__items:hover{
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5); */
}

.history__icon,
.history__occurence{
    display: inline-block;
}

.history__icon {
    background-color: rgb(20, 54, 94);
    border: 3px solid rgb(20, 54, 94);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    vertical-align: middle;
}

.history__initials {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.history__occurence {
    padding-left: 10px;
    vertical-align: middle;
    height: auto;
}

/* .history__occurence ul {
    list-style-type: disc;
} */

.history__creator,
.history__description {
    display: inline-block;
    padding: 0 6px;
}

.history__creator {
    padding: 0;
    font-weight: bold;
}