.asset-info-single-container {
  margin-top: 10px;
}

.desc-sub {
  font-weight: 600;
  color: #a59f9f;
  /* #3e5c7b */
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.asset-info-content-data {
  border-left: 2px solid #7a99b1;
  padding: 3px 10px;
  margin: 1px 0;
  border-radius: 5px;
}