.asset-info-single-container {
  margin-top: 10px;
}

.desc-sub {
  font-weight: 600;
  color: #a59f9f;
  /* #3e5c7b */
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.asset-info-content-data {
  border: 1px solid #ececec;
  padding: 5px 10px;
  border-radius: 5px;
}