.navbar-tabs {
  background: #f0f3f5; 
  padding: 3px 30px 0 30px;
  /* border-top: 1px solid #c8ced3; */
}

.tab-contents {
  width: 100%; 
  border: none; 
  border-top: 1px solid #c8ced3;
}

.tab-contents__pane {
  padding: 0px 25px;
}