.filter-header {
  padding: 15px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #c8ced3;
}

.filter-header,
.filter-footer {
  background: #f0f3f5;
}

.create-filter-container {
  margin: 40px 0;
  min-height: 100px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 15px;
}

.filter-container-title {
  margin-top: -10px;
  margin-left: 15px;
}

.filter-title {
  display: inline-block;
  padding: 0 8px;
  background: white;
  font-weight: 700;
}

.filter-container-body {
  padding: 10px 20px;
}

.remove-input {
  display: none;
}

.result-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.result-box,
.logic-box {
  background: #253675;
  border-radius: 6px;
  padding: 5px 20px;
  margin: 3px;
  color: white;
  font-size: 14px;
}

.logic-box {
  background: #129012;
}