.button-inside {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-color: #9c9c9c;
  background-color: #f7f7f7;
}

.button-inside:hover {
  background-color: #ced4da;
  border-color: #a0a0a0;
  color: #5f5f5f;
}

.checkbox-cell {
  width: 47px;
}

.location-cell {
  width: 400px;
}

.category-cell {
  width: 200px
}

.visit-cell {
  width: 150px
}

.content-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.content-table thead th {
  background-color: #E4E7EA;
  color: #5C6873;
  font-weight: bold;
}

.content-table thead {
  border-bottom: 2px solid #cecece;
}

.content-table th,
.content-table td {
  padding: 6px 0;
}

.content-table tbody td {
  border-bottom: 1px solid #d4d4d4;
}

.content-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}


